<h1 id = "title">Speedcub.es</h1>
<table class="table table-hover" id = "main-contents">
	<thead>
		<tr>
			<td></td>
			<td>Name</td>
			<td>Price</td>
			<td>Buy now</td>

		</tr>
	</thead>
	<%  @data.each do |hash| %>
		<tr>
			<td><%= image_tag(hash["store"] + ".png", height:"15%") %></td>
			<td><a href = "<%=hash["link"]%>"><%=hash["name"]%></a></td>
			<td><%=hash["price"]%></td>
			<td><a href = "<%=hash["link"]%>">Buy at <%=hash["store"]%></a></td>
		<tr>
	<% end %>
</table>