<h1 id = "title">Speedcub.es</h1>
<div id = "small-search-bar"> 
	<%= form_tag("/search", method: "get") do %>
		<input type="text" id="small-search-box" value = "<%= @search %>" onfocus="this.select();" onmouseup="return false;" name="search" placeholder="" class="form-control"></input>
		<div id = "small-checkboxes">
		<input type = "checkbox" name = "thecubicle" <%= @checkboxes["thecubicle"]%>></input> TheCubicle.us	&nbsp;&nbsp;
		<input type = "checkbox" name = "speedcubeshop" <%= @checkboxes["speedcubeshop"]%>></input> Speedcubeshop.com &nbsp;&nbsp;
		<input type = "checkbox" name = "cubezz" <%= @checkboxes["cubezz"]%>></input> Cubezz.com	&nbsp;&nbsp;
		<input type = "checkbox" name = "cubes4speed" <%= @checkboxes["cubes4speed"]%>></input> Cubes4Speed.com &nbsp;&nbsp;
		</div>
	<% end %>
</div>
<h3 id = "results-title" class = "stats"> Showing results for: "<%= @search %>"</h3>
<h4 id = "results-count" class = "stats"> <%= @data.length %> results </h4>
<table class="table table-hover" id = "main-contents">
	<thead>
		<tr>
			<td></td>
			<td>Name</td>
			<td>Price</td>
			<td>Buy now</td>

		</tr>
	</thead>
	<%  @data.each do |hash| %>
		<tr>
			<td><%= image_tag(hash["store"] + ".png", height:"15%") %></td>
			<td><a href = "<%=hash["link"]%>"><%=hash["name"]%></a></td>
			<td><%=hash["price"]%></td>
			<td><a href = "<%=hash["link"]%>">Buy at <%=hash["store"]%></a></td>
		<tr>
	<% end %>
</table>